<img src="../../assets/images/arrow.svg" class="channel__arrow"/>
<img [src]="getImageUrl(channel.icon)" class="channel__icon"/>
{{channel.name}}
<span class="category">({{channel.category}})</span>
<div class="actions">
    <span class="budget_status" *ngIf="getTotalBudget(channel.budget) === 0">
        No budget <img src="../../assets/images/exchlamation.svg">
    </span>
    <span class="budget_status" *ngIf="getTotalBudget(channel.budget) != 0"
        ><img src="../../assets/images/check.svg">
    </span>
    <span class="context_menu"><img src="../../assets/images/dots.svg"></span>
</div>