// vars

$basic-black: #182033;
$basic-gray: #99A4C2;
h2 {
    font-family: Avenir Next;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: $basic-black;
    margin-bottom: 0px;
}
h3 {
    font-family: Avenir Next;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: $basic-black;
    margin-top: 17px;
    margin-bottom: 8px;
}
h5 {
    font-family: Avenir Next;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: $basic-gray;
    margin-top: 0;
    margin-bottom: 38px;
}