:host {
    border-top: 1px solid rgba(178, 187, 213, 0.5);
    display: block;
    padding: 32px 32px 145px;
    background-color: #ffffff;
    .settings {
        display: flex;
    }

    label {
        font-family: Avenir Next;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-right: 56px;
        color: #2F3B66;
        width: 300px;
        select {
            display: block;
            border: 1px solid rgba(178, 187, 213, 0.5);
            width: 226px;
            height: 40px;
            margin-top: 8px;
        }
        select.currency {
            width: 52px;
            display: inline;
            color: #99A4C2;
            padding-left: 12px;
        }
        input[type=text] {
            width: 186px;
            border: 1px solid rgba(178, 187, 213, 0.5);
            height: 38px;
            line-height: 40px;
            padding: 0 16px;
            color: #2A3558
        }
    }

}