<div class="settings">
    <label>
        Budget frequency
        <img src="../../assets/images/info.svg" 
        matTooltip="You can set a yearly, quarterly or monthly budget for this channel">
        <select>
            <option value>Anually</option>
            <option value>Quarterly</option>
            <option value>Monthly</option>
        </select>
    </label>

    <label>
        Baseline [Annual] Budget
        <img src="../../assets/images/info.svg" 
        matTooltip="Set an annual budget for this channel - you'll be able to break it down to months in the following step.">
    </label>

    <label>
        Budget allocation
        <img src="../../assets/images/info.svg" 
        matTooltip="Decide how to distribute your yearly budget across months: Equally (equal monthly budget), Manually (manually srt a monthly budget), of by Growth Rate (increase monthly budget by a set percentage)">
    </label>
</div>

<div class="breakdown__table">

</div>
    <!-- <div class="editor">
        {{channel.frequency}}
        {{channel.currency}}
        {{channel.allocation}}
        {{channel.budget}}
        
    </div> -->
