:host {
    .clearer {
        display: block;
        width: 179px;
        border: 1px solid rgba(178, 187, 213, 0.5);                
        box-shadow: 0px 1px 2px #E6E8F0;
        margin-top: 8px;    
    }
    span {
        display: inline-block;
        width: 89px;
        height: 40px;
        background: #F5F6FA;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        &:first-child {
            border-right: 1px solid rgba(178, 187, 213, 0.5);
        }
        &.selected {
            background: linear-gradient(360deg, #FAFAFC 0%, #FFFFFF 100%);
        }
    }
    input {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
}